@using coverpage.Models
@using coverpage.data
@model MostViewedModel
@{
    Layout = "../Shared/_Layout.cshtml";
}


@foreach(Article article in Model.Articles)
{
    <div>
        @if (Model.LoggedIn == true)
        {
            <span>Hello, Welcome @Session["name"]!</span>
        }
    </div>
    <br/>
    <h3 class="article-title">@article.title</h3>@Html.Partial("Like", article)
    <div>
        <p>
            @article.body.Substring(0, 10)
            ...
        </p>
        
    </div>
    <br/>
    <div>
   @foreach(var comment in article.Comments)
   {
       <div>@comment.title by @comment.author</div>
       <div>@comment.body</div>
   }
</div>
<br/>
<div><a href="@Url.Action("article", new { articleId = article.article_id, language = article.language })">Read more &gt;</a></div>
<hr/>
}