@using coverpage.Models
@model MostViewedModel
@{
    Layout = "../Shared/_Layout.cshtml";
}


@foreach(ArticleModel article in Model.Articles)
{
    <div>
        @if (Model.LoggedIn == true)
        {
            <span>Hello, Welcome @Session["name"]!</span>
        }
    </div>
    <br/>
    <h3>@article.Headline</h3>
    <div>
        <p>
            @article.ArticleText.Substring(0, 100)
            ...
        </p>
        
    </div>
    <br/>
    <div>
    @Html.Partial("CommentSectionView", article.CommentSection)
</div>
<br/>
<div><a href="@Url.Action("article", new { articleId = article.Id })">Read more &gt;</a></div>
<hr/>
}